.header {
  position: absolute;
  bottom: 7rem;

  left: 10vw;
  background-color: azure;
  border-radius: 10px;
  height: 20rem;
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
